torch==2.7.0
torchtune==0.6.1
torchao==0.11.0
hydra-core==1.3.2
omegaconf==2.3.0
tqdm==4.67.1
datasets==3.6.0
transformers==4.52.4
tiktoken==0.9.0
python-dotenv==1.1.0
setuptools==66.1.1
openai==1.84.0